* {
    margin: 2;
    padding: 0%;
    background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png)
}
h1{
    background: rosybrown;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    z-index: 1;
    padding: 5px;
}
h2{
    background: rosybrown;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    margin: 0px;
}
h4{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
}

.center{
    margin: 0;
    position: static;
    text-align: center;
    top: 50%;
    left: 50%;
}

.red-text{
    background-color: rosybrown;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

/*.red-text2{
    background-color: rosybrown;
    color: black;
    text-align: center;
    font-family: Lobster;
    padding: 3%; 
}*/

#resume{
    background: rosybrown;
    color: rgb(172, 67, 67);
}

#resume:hover{
    background: rosybrown;
    color: #fdc08e;
}

#link{
    color: rgb(172, 67, 67);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#link:hover{
    color: #fdc08e;
}

#paylah{
    width: 40%;
    height: auto;
}
